@import "src/style/init";

.effects-list{
  @include row;

  &__item{
    min-height: 200px;
    @include col(12);
    background-color: #dddddd;
    @include bp(lg){
      @include col(3);
    }
    @include bp(md){
      @include col(3);
    }
    @include bp(md){
      @include col(4);
    }
  }

  .disappearing-text{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;

    span{
      display: inline-block;
      cursor: pointer;

      &.active{
        animation: smoke 2s linear forwards;
      }
    }
  }
}

@keyframes smoke {
  20%{
    color: green;
  }
  30%{
    color: red;
  }

  100%{
    display: none;
    z-index: -1;
    opacity: 0;
    filter: blur(20px);
    transform: translate(300px, -500px) rotate(720deg) scale(4);
  }
}