.item{
    padding: 40px;
    font-size: 25px;
    border: 1px solid;
    height: fit-content;
    width: fit-content;
}
.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.item1{
    align-self: center;
}
.item2{
    align-self: flex-end;
}
.item5{
    align-self: flex-end;
}
