*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: aliceblue;
}
header h2{
    font-weight: 300;
    letter-spacing: 1.4px;
    margin-left: 100px;
}
nav{
    display: flex;
    margin-right: 100px;
}
nav ul{
    display: flex;
}
nav ul li a{
    font-size: 20px;
    color: deepskyblue;
    margin-right: 25px;
}
nav ul li a:hover{
    color: blue;
    transition: 1s;
}
