@import "src/style/init";

.preview{
  @include row;
  margin-bottom: 30px;

  &__text{
    min-height: 150px;
    @include col(12);
    background-color: #dddddd;
  }
  &__photo{
    min-height: 150px;
    @include col;
    background-color: #dddddd;
  }

  @include bp(md){
    &__text{
      @include col(6);
    }
    &__photo{
      @include col(6);
    }
  }
}