*,
*::before,
*::after{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  font-size: 22px;
}

.container{
  margin: 0 auto;
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;

  outline: solid 2px #ddd;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 30px;
}

.col{
  flex: 1 0 0%;
  margin-right: 15px;
  margin-left: 15px;
}


.block{
  padding: 20px;
  height: 100%;
  background-color: #ddd;
}