@import "variables";

*,
*::before,
*::after{
  box-sizing: border-box;
}

@mixin media($width){
  @media (min-width: $width) {
    @content;
  }
}

html, body{
  margin: 0;
  font-size: 22px;

  @include media(1000px){
    background-color: rgba(25, 101, 174, 0.64);
  }
}

.container{
  margin: 0 auto;
  width: 1140px;
  padding-right: $grid-gap-side;
  padding-left: $grid-gap-side;

  outline: solid 2px #ddd;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -$grid-gap-side;
  margin-left: -$grid-gap-side;
  margin-bottom: $grid-gap;

  > * {
    margin-right: $grid-gap-side;
    margin-left: $grid-gap-side;
  }
}

.col{
  flex: 1 0 0%;
}

@mixin col($size){
  flex: 0 0 auto;
  width: calc(#{percentage($size / $grid-columns)} - #{$grid-gap});
}

@for $i from 1 through $grid-columns{
  .col-#{$i}{
    @include col($i);
    background-color: #ddd;
  }
}

.block{
  padding: 20px;
  height: 100%;
  background-color: #ddd;
}